127.0.0.1 localhost
{% for host in groups['all'] %}
{{ hostvars[host]['private_ip'] }} {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}.{{ domain }} {{ hostvars[host]['host_aliases'] | default('') }} {% if host == inventory_hostname %}host host.{{ domain }}{% endif %}

{% endfor %}
