driftfile /var/lib/ntp/ntp.drift
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% if inventory_hostname in groups['mesos_masters'] %}
server ptbtime1.ptb.de
server ptbtime2.ptb.de
server ptbtime3.ptb.de

{% for host in groups['mesos_masters'] -%}
{% if host != inventory_hostname %}
peer {{host}}.teamwire.eu
{% endif -%}
{% endfor %}

{% else %}

{% for host in groups['mesos_masters'] -%}
server {{host}}.teamwire.eu
{% endfor %}

{% endif %}

restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

restrict 127.0.0.1
restrict ::1
