auto weave
iface weave inet manual
        pre-up /usr/local/bin/weave create-bridge
        post-up /usr/local/bin/weave expose {{weave_cidr}}
        pre-down /usr/local/bin/weave hide {{weave_cidr}} && ifconfig weave down
        post-down brctl delbr weave
